[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/Generic-Ostream-Operators"]
	path = external/Generic-Ostream-Operators
	url = https://github.com/SzymonZos/Generic-Ostream-Operators.git
